# PLACE YOUR .env FILE IN THE SAME DIRECTORY AS THIS EXAMPLE FILE.
# IT MUST BE IN THE SAME DIRECTORY AS THE docker-compose.yml FILE IN ORDER TO BE AUTOMATICALLY READ BY DOCKER.

# Token settings
JWT_TOKEN_KEY=[SECRET_JWT_KEY_HERE]
JWT_TOKEN_ISSUER=[JWT_TOKEN_ISSUER]
JWT_TOKEN_AUDIENCE=[JWT_TOKEN_AUDIENCE]
CONNECT_TOKEN_JWT_KEY=[CONNECT_TOKEN_KEY]
CONNECT_TOKEN_ISSUER_AUDIENCE=[ISSUER_AND_AUDIENCE]

# MFA service settings
MFA_ISSUER_NAME=[TOTP_ISSUER_NAME_HERE]
MFA_BASE_64_KEY=[SYMMETRIC_ENCRYPTION_KEY_BASE64]

# Email service settings
EMAIL_SERVICE_EMAIL_ADDRESS=[NOREPLY_ACCOUNT_EMAIL_ADDRESS]
EMAIL_SERVICE_APP_PASSWORD=[NOREPLY_ACCOUNT_APP_PASSWORD]

# Database API settings
DATABASE_API_BASE_URI=[DATABASE_API_ADDRESS_URL]
DATABASE_API_USER_USERNAME=[DATABASE_API_USER_USERNAME]
DATABASE_API_USER_PASSWORD=[DATABASE_API_USER_PASSWORD]

# Cloudflare Tunnel settings
CLOUDFLARE_TUNNEL_TOKEN=[TOKEN_HERE]