# PLACE YOUR .env FILE IN THE SAME DIRECTORY AS THIS EXAMPLE FILE.
# IT MUST BE IN THE SAME DIRECTORY AS THE docker-compose.yml FILE IN ORDER TO BE AUTOMATICALLY READ BY DOCKER.

# Token settings
JWT_TOKEN_KEY=[SECRET_JWT_KEY_HERE]

# MFA service settings
MFA_ISSUER_NAME=[TOTP_ISSUER_NAME_HERE]
MFA_BASE_64_KEY=[SYMMETRIC_ENCRYPTION_KEY_BASE64]

# Email service settings
EMAIL_SERVICE_EMAIL_ADDRESS=[NOREPLY_ACCOUNT_EMAIL_ADDRESS]
EMAIL_SERVICE_APP_PASSWORD=[NOREPLY_ACCOUNT_APP_PASSWORD]

# Database settings
MONGO_USER_ACCOUNTS_COLLECTION_NAME=[MONGODB_COLLECTION_NAME]
MONGO_DATABASE_NAME=[MONGODB_DATABASE_NAME]
MONGO_CONNECTION_STRING=mongodb://[MONGO_USERNAME]:[MONGO_PASSWORD]@host.docker.internal:27017
# ^ host.docker.internal:27017 should be replaced with the correct IP:PORT when necessary (host.docker.internal allows access to a mongodb instance outside the container network, localhost does not)
